@font-face {
    font-family: ipixelu;
    src: url(../I-pixel-u.ttf);
}
@font-face {
    font-family: pixelade;
    src: url(../PIXELADE.TTF);
}
:root{
    --menuBox: linear-gradient(rgb(14, 14, 163),rgb(26, 19, 92));
    --menuBorder: 10px, ridge, rgb(238, 238, 238);
    --HPBar: 98%;
}

*{
    font-family: ipixelu, monospace;
    color: white;
    
}

body{
    background-image: url(../img/background_img_orng_blu.jpeg);
    background-size: cover;
}

header{
    font-size: 50px;
    padding: 20px;
    background-image: var(--menuBox);
    border: var(--menuBorder);
}
h1{
    display: inline;
}
#healthbar{
    display: inline-block;
    width: 50%;
    height: 25px;
    background-color: grey;
    border-radius: 40px;
}
#healthRemains{
    position: relative;
    top: 2px;
    left: 1%;
    width: var(--HPBar);
    height: 20px;
    background-color: red;
    border-radius: 40px;
}
section{
    border: 15px, inset, rgb(163, 163, 163);;
    display: block;
    background-color: bisque;
    width: 65%;;
    margin: 20px auto 0px auto;
    padding: 20px;
}
.vl{
    display: inline;
    border-left: 6px solid gray;
    height: 60px;
}
section h2{
    display: inline;
    width: min-content;
    font-size: 44px;
    color: gray;
}
section p{
    color: black;
    font-family: pixelade;
    font-size: x-large;
    padding: 20px;
    text-align: left;
    display: inline;
    width: 40%;
}
nav{
    position: fixed;
    bottom: 40px;
    width: 200px;
    background-image: var(--menuBox);
    border: var(--menuBorder);
    border-radius: 5%;
}
li{
    list-style-type: none;
    font-size: larger;
    padding:10px 10px 10px 10px;
}
li a{
    width: 100%;
    background-image: var(--menuBox);
}

li:hover{
    list-style-type: disc; /* TODO: ADD CUSTOM TRIANGLE SHAPE BULLET FOR MENU */
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px;
    background-image: var(--menuBox);
    border: var(--menuBorder);
}
